<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit teacher</title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>

    <body>
        <div th:insert="~{fragments/navbars :: main}"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto rounded border p-4 m-4">
                    <h3 class="text-center mb-5">Edit teacher</h3>
                    <form class="margin-top--25" method="post" th:action="@{/teachers/{id}/update(id=${teacher.id})}" th:object="${updateTeacherRequest}">
                        <div th:insert="~{fragments/readonly-data :: simple-type('ID', ${teacher.id})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select user to update', 'User', 'username', ${teacher.user}, ${users})}"></div>
                        <div th:insert="~{fragments/readonly-data :: simple-type('First name', ${teacher.firstName})}"></div>
                        <div th:insert="~{fragments/input-data :: simple-type('Last name', 'lastName', 'Enter new last name')}"></div>
                        <div th:insert="~{fragments/readonly-data :: collection-type('Courses', course, ${teacher.courses})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select course to add', 'Course to add', 'courseNameToAdd', course, ${coursesToAdd})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select course to remove', 'Course to remove', 'courseNameToRemove', course, ${coursesToRemove})}"></div>
                        <div th:insert="~{fragments/readonly-data :: collection-type('Groups', group, ${teacher.groups})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select group to add', 'Group to add', 'groupNameToAdd', group, ${groupsToAdd})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select group to remove', 'Group to remove', 'groupNameToRemove', group, ${groupsToRemove})}"></div>
                        <div class="row">
                            <th:block th:insert="~{fragments/buttons :: submit}"></th:block>
                            <th:block th:insert="~{fragments/buttons :: cancel(@{/teachers})}"></th:block>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
