<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lessons schedule</title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>

    <body>
        <div th:insert="~{fragments/navbars :: main}"></div>

        <div class="container">
            <h3 class="text-center margin-top-15">Lessons schedule</h3>
            <form class="margin-top--35" method="get" th:action="@{/lessons/{username}/date-schedule(username=${user.username})}">
                <div class="d-flex gap-2">
                    <div th:insert="~{fragments/input-data :: date-select-type}"></div>
                    <div th:insert="~{fragments/buttons :: view-schedule}"></div>
                </div>
            </form>
            <table class="table margin-top-15">
                <thead>
                <tr>
                    <th sec:authorize="hasAuthority('ROLE_ADMIN')">ID</th>
                    <th>Date</th>
                    <th>Lesson time</th>
                    <th>Auditorium</th>
                    <th>Course</th>
                    <th>Teacher</th>
                    <th>Groups</th>
                    <th sec:authorize="hasAuthority('ROLE_ADMIN')">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lesson : ${lessons}">
                    <th:block th:insert="~{fragments/table-data :: lesson(${lesson.id}, ${lesson.date}, ${lesson.lessonTime}, ${lesson.auditorium}, ${lesson.course}, ${lesson.teacher}, ${lesson.groups})}"></th:block>
                </tr>
                </tbody>
            </table>
        </div>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
