<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit lesson</title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>

    <body>
        <div th:insert="~{fragments/navbars :: main}"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto rounded border p-4 m-4">
                    <h3 class="text-center mb-5">Edit lesson</h3>
                    <form class="margin-top--25" method="post" th:action="@{/lessons/{id}/update(id=${lesson.id})}" th:object="${updateLessonRequest}">
                        <div th:insert="~{fragments/readonly-data :: simple-type('ID', ${lesson.id})}"></div>
                        <div th:insert="~{fragments/input-data :: simple-type('Date', 'date', 'YYYY-MM-DD')}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select lesson time to update', 'Lesson time', 'lessonTimeId', ${lesson.lessonTime}, ${lessonTimes})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select auditorium to update', 'Auditorium', 'auditoriumName', ${lesson.auditorium}, ${auditoriums})}"></div>
                        <div th:insert="~{fragments/readonly-data :: entity-type('Course', ${lesson.course})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select course to update', 'Course to add/update', 'courseNameToUpdate', course, ${coursesToUpdate})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select course to remove', 'Course to remove', 'courseNameToRemove', course, ${courseToRemove})}"></div>
                        <div th:insert="~{fragments/readonly-data :: entity-type('Teacher', ${lesson.teacher})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select teacher to update', 'Teacher to add/update', 'teacherIdToUpdate', teacher, ${teachersToUpdate})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select teacher to remove', 'Teacher to remove', 'teacherIdToRemove', teacher, ${teacherToRemove})}"></div>
                        <div th:insert="~{fragments/readonly-data :: collection-type('Groups', group, ${lesson.groups})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select group to add', 'Group to add', 'groupNameToAdd', group, ${groupsToAdd})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select group to remove', 'Group to remove', 'groupNameToRemove', group, ${groupsToRemove})}"></div>
                        <div class="row">
                            <th:block th:insert="~{fragments/buttons :: submit}"></th:block>
                            <th:block th:insert="~{fragments/buttons :: cancel(@{/lessons})}"></th:block>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
