<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lesson time</title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>

    <body>
        <div th:insert="~{fragments/navbars :: main}"></div>

        <div class="container">
            <h3 class="text-center margin-top-15">Lesson time</h3>
            <div sec:authorize="hasAuthority('ROLE_ADMIN')" th:insert="~{fragments/buttons :: create-entity('lesson time', @{/lesson-times/create})}"></div>
            <table class="table margin-top--10">
                <thead>
                    <tr>
                        <th sec:authorize="hasAuthority('ROLE_ADMIN')">ID</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Lessons</th>
                        <th sec:authorize="hasAuthority('ROLE_ADMIN')">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th:block th:insert="~{fragments/table-data :: lesson-time(${lessonTime.id}, ${lessonTime.startTime}, ${lessonTime.endTime}, ${lessonTime.lessons})}"></th:block>
                    </tr>
                </tbody>
            </table>
        </div>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
