<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit lesson time</title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>

    <body>
        <div th:insert="~{fragments/navbars :: main}"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto rounded border p-4 m-4">
                    <h3 class="text-center mb-5">Edit lesson time</h3>
                    <form class="margin-top--25" method="post" th:action="@{/lesson-times/{id}/update(id=${lessonTime.id})}" th:object="${updateLessonTimeRequest}">
                        <div th:insert="~{fragments/readonly-data :: simple-type('ID', ${lessonTime.id})}"></div>
                        <div th:insert="~{fragments/input-data :: simple-type('Start time', 'startTime', 'HH:MM')}"></div>
                        <div th:insert="~{fragments/input-data :: simple-type('End time', 'endTime', 'HH:MM')}"></div>
                        <div class="row">
                            <th:block th:insert="~{fragments/buttons :: submit}"></th:block>
                            <th:block th:insert="~{fragments/buttons :: cancel(@{/lesson-times})}"></th:block>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
