<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Auditoriums schedule</title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>

    <body>
        <div th:insert="~{fragments/navbars :: main}"></div>

        <div class="container">
            <h3 class="text-center margin-top-15">Auditoriums schedule</h3>
            <form class="margin-top--35" method="get" th:action="@{/auditoriums/{username}/date-schedule(username=${user.username})}">
                <div class="d-flex gap-2">
                    <div th:insert="~{fragments/input-data :: date-select-type}"></div>
                    <div th:insert="~{fragments/buttons :: view-schedule}"></div>
                </div>
            </form>
            <table class="table margin-top-15">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Occupied times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="auditorium : ${auditoriums}">
                        <th:block th:insert="~{fragments/table-data :: auditorium-schedule(${auditorium.name}, ${auditorium.lessons})}"></th:block>
                    </tr>
                </tbody>
            </table>
        </div>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
