<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <div class="margin-top-15" th:fragment="login">
            <input class="btn btn-outline-success" type="submit" value="Login">
        </div>

        <div th:fragment="logout">
            <input class="btn btn-outline-danger" type="submit" value="Logout">
        </div>

        <div th:fragment="create-entity(entityName, createUrl)">
            <a class="btn btn-outline-success margin-top--70" th:href="${createUrl}" th:text="|Create ${entityName}|"></a>
        </div>

        <div th:fragment="update-entity(entityName, updateUrl)">
            <a class="btn btn-outline-primary btn-sm me-2" th:href="${updateUrl}" th:text="|Edit ${entityName}|"></a>
        </div>

        <div th:fragment="delete-entity(entityName, deleteUrl)">
            <a class="btn btn-outline-danger btn-sm" th:href="${deleteUrl}" th:text="|Delete ${entityName}|" onclick="return confirm('Are you sure?')"></a>
        </div>

        <th:block th:fragment="submit">
            <div class="offset-sm-4 col-sm-4 d-grid">
                <button class="btn btn-outline-success" type="submit">Submit</button>
            </div>
        </th:block>

        <th:block th:fragment="cancel(cancelUrl)">
            <div class="col-sm-4 d-grid">
                <a class="btn btn-outline-danger" th:href="${cancelUrl}" role="button">Cancel</a>
            </div>
        </th:block>

        <div class="margin-top--5" th:fragment="view-schedule">
            <button class="btn btn-outline-info" type="submit">View Schedule</button>
        </div>
    </body>
</html>
