<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <div class="margin-top-15" th:fragment="login-type(type, name, placeholder)">
            <label>
                <input th:type="${type}" th:name="${name}" class="form-control" th:placeholder="${placeholder}" required>
            </label>
        </div>

        <div class="row mb-3" th:fragment="simple-type(labelName, fieldName, placeholder)">
            <label class="col-sm-4 col-form-label" th:text="${labelName}"></label>
            <div class="col-sm-8">
                <label>
                    <input type="text" class="form-control" th:field="*{__${fieldName}__}" th:placeholder="${placeholder}">
                </label>
                <p th:if="${#fields.hasErrors(fieldName)}" th:errorclass="text-danger" th:errors="*{__${fieldName}__}"></p>
            </div>
        </div>

        <div class="row mb-3" th:fragment="boolean-select-type(labelName, fieldName, value)">
            <label class="col-sm-4 col-form-label" th:text="${labelName}"></label>
            <div class="col-sm-8">
                <label>
                    <select class="form-select" th:field="*{__${fieldName}__}">
                        <option th:if="${value.equals(true)}" th:value='true'>true</option>
                        <option th:if="${value.equals(true)}" th:value='false'>false</option>
                        <option th:if="${value.equals(false)}" th:value='false'>false</option>
                        <option th:if="${value.equals(false)}" th:value='true'>true</option>
                    </select>
                </label>
                <p th:if="${#fields.hasErrors(fieldName)}" th:errorclass="text-danger" th:errors="*{__${fieldName}__}"></p>
            </div>
        </div>

        <div class="row mb-3" th:fragment="entity-select-type(action, labelName, fieldName, entity, collection)">
            <label class="col-sm-4 col-form-label" th:text="${labelName}"></label>
            <div class="col-sm-8">
                <label>
                    <select class="form-select" th:field="*{__${fieldName}__}">
                        <option th:if="${fieldName.toLowerCase().contains('role')}" value=''>Select role</option>
                        <option th:if="${fieldName.toLowerCase().contains('role')}" th:each="entity : ${collection}" th:value="${entity.name}" th:text="${entity.name.substring(5)}"></option>

                        <option th:if="${action.toLowerCase().contains('user to create')}" value=''>Select user</option>
                        <option th:if="${action.toLowerCase().contains('user to update')}" th:value="${entity.username}" th:text="${entity.username}"></option>
                        <option th:if="${fieldName.toLowerCase().contains('user')}" th:each="entity : ${collection}" th:value="${entity.username}" th:text="${entity.username}"></option>

                        <option th:if="${fieldName.toLowerCase().contains('course')}" value=''>Select course</option>
                        <option th:if="${fieldName.toLowerCase().contains('course')}" th:each="entity : ${collection}" th:value="${entity.name}" th:text="${entity.name}"></option>

                        <option th:if="${fieldName.toLowerCase().contains('group')}" value=''>Select group</option>
                        <option th:if="${fieldName.toLowerCase().contains('group')}" th:each="entity : ${collection}" th:value="${entity.name}" th:text="${entity.name}"></option>

                        <option th:if="${action.toLowerCase().contains('university to create')}" value=''>Select university</option>
                        <option th:if="${action.toLowerCase().contains('university to update')}" th:value="${entity.abbreviationName}" th:text="${entity.abbreviationName}"></option>
                        <option th:if="${fieldName.toLowerCase().contains('abbreviation')}" th:each="entity : ${collection}" th:value="${entity.abbreviationName}" th:text="${entity.abbreviationName}"></option>

                        <option th:if="${action.toLowerCase().contains('department to create')}" value=''>Select department</option>
                        <option th:if="${action.toLowerCase().contains('department to update')}" th:value="${entity.name}" th:text="${entity.name}"></option>
                        <option th:if="${fieldName.toLowerCase().contains('department')}" th:each="entity : ${collection}" th:value="${entity.name}" th:text="${entity.name}"></option>

                        <option th:if="${action.toLowerCase().contains('lesson time to create')}" value=''>Select lesson time</option>
                        <option th:if="${action.toLowerCase().contains('lesson time to update')}" th:value="${entity.id}" th:text="${entity.startTime + '-' + entity.endTime}"></option>
                        <option th:if="${fieldName.toLowerCase().contains('lessontime')}" th:each="entity : ${collection}" th:value="${entity.id}" th:text="${entity.startTime + '-' + entity.endTime}"></option>

                        <option th:if="${action.toLowerCase().contains('auditorium to create')}" value=''>Select auditorium</option>
                        <option th:if="${action.toLowerCase().contains('auditorium to update')}" th:value="${entity.name}" th:text="${entity.name}"></option>
                        <option th:if="${fieldName.toLowerCase().contains('auditorium')}" th:each="entity : ${collection}" th:value="${entity.name}" th:text="${entity.name}"></option>

                        <option th:if="${fieldName.toLowerCase().contains('teacher')}" value=-9223372036854775808>Select teacher</option>
                        <option th:if="${fieldName.toLowerCase().contains('teacher')}" th:each="entity : ${collection}" th:value="${entity.id}" th:text="${entity.firstName + ' ' + entity.lastName}"></option>
                    </select>
                </label>
                <p th:if="${#fields.hasErrors(fieldName)}" th:errorclass="text-danger" th:errors="*{__${fieldName}__}"></p>
            </div>
        </div>

        <div th:fragment="date-select-type">
            <label>
                <input type="date" name="selectedDate" th:value="${#temporals.format(selectedDate, 'yyyy-MM-dd')}" required>
            </label>
        </div>
    </body>
</html>
