<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
    <body>
        <div th:fragment="main">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/}">
                        <img th:src="@{/pictures/cms-logo.png}" width="40" height="40" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdminSupportedContent" aria-controls="navbarAdminSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarAdminSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                            </li>
                            <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profiles</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/roles}">Roles</a></li>
                                    <li><a class="dropdown-item" th:href="@{/users}">Users</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">User categories</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/admins}">Admins</a></li>
                                    <li><a class="dropdown-item" th:href="@{/employees}">Employees</a></li>
                                    <li><a class="dropdown-item" th:href="@{/teachers}">Teachers</a></li>
                                    <li><a class="dropdown-item" th:href="@{/students}">Students</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">University components</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/universities/1}">University</a></li>
                                    <li><a class="dropdown-item" th:href="@{/departments}">Departments</a></li>
                                    <li><a class="dropdown-item" th:href="@{/auditoriums}">Auditoriums</a></li>
                                    <li><a class="dropdown-item" th:href="@{/lesson-times}">Lesson times</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_TEACHER', 'ROLE_STUDENT')" class="nav-item">
                                <a class="nav-link" th:href="@{/groups}">Groups</a>
                            </li>
                            <li sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_TEACHER', 'ROLE_STUDENT')" class="nav-item">
                                <a class="nav-link" th:href="@{/courses}">Courses</a>
                            </li>
                            <li sec:authorize="hasAuthority('ROLE_STAFF')" class="nav-item">
                                <a class="nav-link" th:href="@{/employees}">Employees</a>
                            </li>
                            <li sec:authorize="hasAnyAuthority('ROLE_TEACHER', 'ROLE_STUDENT')" class="nav-item">
                                <a class="nav-link" th:href="@{/teachers}">Teachers</a>
                            </li>
                            <li sec:authorize="hasAnyAuthority('ROLE_TEACHER', 'ROLE_STUDENT')" class="nav-item">
                                <a class="nav-link" th:href="@{/students}">Students</a>
                            </li>
                            <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item">
                                <a class="nav-link" th:href="@{/lessons}">Lessons</a>
                            </li>
                            <li sec:authorize="hasAuthority('ROLE_STAFF')" class="nav-item">
                                <a class="nav-link" th:href="@{/auditoriums/__${#authentication.name}__/date-schedule}">Auditoriums schedule</a>
                            </li>
                            <li sec:authorize="hasAnyAuthority('ROLE_TEACHER', 'ROLE_STUDENT')" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Lessons schedules</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/lessons/__${#authentication.name}__/date-schedule}">Date schedule</a></li>
                                    <li><a class="dropdown-item" th:href="@{/lessons/__${#authentication.name}__/week-schedule}">Week schedule</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="d-flex align-items-center" sec:authorize="isAuthenticated()">
                            Welcome,<a th:href="@{/users/__${#authentication.name}__/profile}" class="ms-1 me-2 fw-bold">
                                <span sec:authentication="name"></span>
                            </a>
                            <form class="mb-0" method="post" th:action="@{/logout}">
                                <div th:insert="~{fragments/buttons :: logout}"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>
