<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <div class="row mb-3" th:fragment="simple-type(labelName, value)">
            <label class="col-sm-4 col-form-label" th:text="${labelName}"></label>
            <div class="col-sm-8">
                <label>
                    <input readonly type="text" class="form-control-plaintext" th:value="${value}">
                </label>
            </div>
        </div>

        <div class="row mb-3" th:fragment="entity-type(labelName, entity)">
            <label class="col-sm-4 col-form-label" th:text="${labelName}"></label>
            <div class="col-sm-8">
                <label th:if="${entity != null}">
                    <input th:if="${labelName.toLowerCase().contains('group')}" readonly type="text" class="form-control-plaintext" th:value="${entity.name}">
                    <input th:if="${labelName.toLowerCase().contains('course')}" readonly type="text" class="form-control-plaintext" th:value="${entity.name}">
                    <input th:if="${labelName.toLowerCase().contains('teacher')}" readonly type="text" class="form-control-plaintext" th:value="${entity.firstName + ' ' + entity.lastName}">
                </label>
            </div>
        </div>

        <div class="row mb-3" th:fragment="collection-type(labelName, entity, collection)">
            <label class="col-sm-4 col-form-label" th:text="${labelName}"></label>
            <div class="col-sm-8">
                <div class="form-control-plaintext">
                    <span th:each="entity, iterStat : ${collection}">
                        <span th:if="${labelName.toLowerCase().contains('roles')}" th:text="${entity.name.substring(5)}"></span>
                        <span th:if="${labelName.toLowerCase().contains('courses')}" th:text="${entity.name}"></span>
                        <span th:if="${labelName.toLowerCase().contains('groups')}" th:text="${entity.name}"></span>
                        <span th:if="${!iterStat.last}">, </span>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>
