<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
    <body>
        <th:block th:fragment="role(id, name)">
            <td th:text="${id}"></td>
            <td th:text="${name.substring(5)}"></td>
            <td class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('role', @{/roles/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('role', @{/roles/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>

        <th:block th:fragment="user(id, username, password, enabledStatus, freeStatus, roles)">
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${id}"></td>
            <td th:text="${username}"></td>
            <td th:text="${password.substring(0, 5) + '...'}"></td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${enabledStatus}"></td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${freeStatus}"></td>
            <td>
                <span th:each="role, iterStat : ${roles}">
                    <a th:href="@{/roles/{id}(id=${role.id})}" th:text="${role.name.substring(5)}"></a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('user', @{/users/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('user', @{/users/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>

        <th:block th:fragment="admin(id, user)">
            <td th:text="${id}"></td>
            <td>
                <a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.username}"></a>
            </td>
            <td class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('admin', @{/admins/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('admin', @{/admins/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>

        <th:block th:fragment="employee(id, user, firstName, lastName)">
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${id}"></td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.username}"></a>
            </td>
            <td th:text="${firstName}"></td>
            <td th:text="${lastName}"></td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('employee', @{/employees/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('employee', @{/employees/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>

        <th:block th:fragment="teacher(id, user, firstName, lastName, courses, groups)">
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${id}"></td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.username}"></a>
            </td>
            <td th:text="${firstName}"></td>
            <td th:text="${lastName}"></td>
            <td>
                <span th:each="course, iterStat : ${courses}">
                    <a th:href="@{/courses/{id}(id=${course.id})}" th:text="${course.name}"></a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td>
                <span th:each="group, iterStat : ${groups}">
                    <a th:href="@{/groups/{id}(id=${group.id})}" th:text="${group.name}"></a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('teacher', @{/teachers/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('teacher', @{/teachers/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>

        <th:block th:fragment="student(id, user, group, firstName, lastName, courses)">
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${id}"></td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.username}"></a>
            </td>
            <td>
                <a th:if="${group != null}" th:href="@{/groups/{id}(id=${group.id})}" th:text="${group.name}"></a>
                <p th:if="${group == null}" th:text="''"></p>
            </td>
            <td th:text="${firstName}"></td>
            <td th:text="${lastName}"></td>
            <td>
                <span th:each="course, iterStat : ${courses}">
                    <a th:href="@{/courses/{id}(id=${course.id})}" th:text="${course.name}"></a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('student', @{/students/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('student', @{/students/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>

        <th:block th:fragment="university(id, name, abbreviationName, city, phoneNumber, departments)">
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${id}"></td>
            <td th:text="${name}"></td>
            <td th:text="${abbreviationName}"></td>
            <td th:text="${city}"></td>
            <td th:text="${phoneNumber}"></td>
            <td>
                <span th:each="department, iterStat : ${departments}">
                    <a th:href="@{/departments/{id}(id=${department.id})}" th:text="${department.name}"></a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('university', @{/universities/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('university', @{/universities/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>

        <th:block th:fragment="department(id, university, name, auditoriums)">
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${id}"></td>
            <td>
                <a th:href="@{/universities/{id}(id=${university.id})}" th:text="${university.abbreviationName}"></a>
            </td>
            <td th:text="${name}"></td>
            <td>
                <span th:each="auditorium, iterStat : ${auditoriums}">
                    <a th:href="@{/auditoriums/{id}(id=${auditorium.id})}" th:text="${auditorium.name}"></a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('department', @{/departments/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('department', @{/departments/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>

        <th:block th:fragment="auditorium(id, department, name, lessons)">
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${id}"></td>
            <td>
                <a th:href="@{/departments/{id}(id=${department.id})}" th:text="${department.name}"></a>
            </td>
            <td th:text="${name}"></td>
            <td>
                <p th:each="lesson : ${lessons}">
                    <span th:if="${lesson.course != null}">
                        <a th:href="@{/lessons/{id}(id=${lesson.id})}" th:text="${lesson.date + ' ' + lesson.lessonTime.startTime + '-' + lesson.lessonTime.endTime + ' - ' + lesson.course.name}"></a>
                    </span>
                    <span th:if="${lesson.course == null}">
                        <a th:href="@{/lessons/{id}(id=${lesson.id})}" th:text="${lesson.date + ' ' + lesson.lessonTime.startTime + '-' + lesson.lessonTime.endTime}"></a>
                    </span>
                </p>
            </td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('auditorium', @{/auditoriums/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('auditorium', @{/auditoriums/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>

        <th:block th:fragment="auditorium-schedule(name, lessons)">
            <td th:text="${name}"></td>
            <td>
                <span th:if="${lessons.isEmpty()}">Free all day</span>
                <span th:unless="${lessons.isEmpty()}" th:each="lesson, iterStat : ${lessons}">
                    <a th:href="@{/lesson-times/{id}(id=${lesson.lessonTime.id})}" th:text="${lesson.lessonTime.startTime + '-' + lesson.lessonTime.endTime}"></a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
        </th:block>

        <th:block th:fragment="lesson-time(id, startTime, endTime, lessons)">
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${id}"></td>
            <td th:text="${startTime}"></td>
            <td th:text="${endTime}"></td>
            <td>
                <p th:each="lesson : ${lessons}">
                    <span th:if="${lesson.course != null}">
                        <a th:href="@{/lessons/{id}(id=${lesson.id})}" th:text="${lesson.date + ' - ' + lesson.course.name}"></a>
                    </span>
                    <span th:if="${lesson.course == null}">
                        <a th:href="@{/lessons/{id}(id=${lesson.id})}" th:text="${lesson.date + ' '}"></a>
                    </span>
                </p>
            </td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('lesson time', @{/lesson-times/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('lesson time', @{/lesson-times/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>

        <th:block th:fragment="course(id, name, description, teachers, students)">
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${id}"></td>
            <td th:text="${name}"></td>
            <td th:text="${description}"></td>
            <td>
                <span th:each="teacher, iterStat : ${teachers}">
                    <a th:href="@{/teachers/{id}(id=${teacher.id})}" th:text="${teacher.firstName + ' ' + teacher.lastName}"></a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td>
                <span th:each="student, iterStat : ${students}">
                    <a th:href="@{/students/{id}(id=${student.id})}" th:text="${student.firstName + ' ' + student.lastName}"></a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('course', @{/courses/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('course', @{/courses/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>

        <th:block th:fragment="group(id, name, teachers, students, lessons)">
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${id}"></td>
            <td th:text="${name}"></td>
            <td>
                <span th:each="teacher, iterStat : ${teachers}">
                    <a th:href="@{/teachers/{id}(id=${teacher.id})}" th:text="${teacher.firstName + ' ' + teacher.lastName}"></a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td>
                <span th:each="student, iterStat : ${students}">
                    <a th:href="@{/students/{id}(id=${student.id})}" th:text="${student.firstName + ' ' + student.lastName}"></a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td>
                <p th:each="lesson : ${lessons}">
                    <a th:href="@{/lessons/{id}(id=${lesson.id})}" th:text="${lesson.date + ' ' + lesson.lessonTime.startTime + '-' + lesson.lessonTime.endTime + ' - ' + lesson.course.name}"></a>
                </p>
            </td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('group', @{/groups/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('group', @{/groups/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>

        <th:block th:fragment="lesson(id, date, lessonTime, auditorium, course, teacher, groups)">
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${id}"></td>
            <td th:text="${date}"></td>
            <td>
                <a th:href="@{/lesson-times/{id}(id=${lessonTime.id})}" th:text="${lessonTime.startTime + '-' + lessonTime.endTime}"></a>
            </td>
            <td>
                <a th:href="@{/auditoriums/{id}(id=${auditorium.id})}" th:text="${auditorium.name}"></a>
            </td>
            <td>
                <a th:if="${course != null}" th:href="@{/courses/{id}(id=${course.id})}" th:text="${course.name}"></a>
                <p th:if="${course == null}" th:text="''"></p>
            </td>
            <td>
                <a th:if="${teacher != null}" th:href="@{/teachers/{id}(id=${teacher.id})}" th:text="${teacher.firstName + ' ' + teacher.lastName}"></a>
                <p th:if="${teacher == null}" th:text="''"></p>
            </td>
            <td>
                <span th:each="group, iterStat : ${groups}">
                    <a th:href="@{/groups/{id}(id=${group.id})}" th:text="${group.name}"></a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" class="nowrap">
                <div class="button-container">
                    <div th:insert="~{fragments/buttons :: update-entity('lesson', @{/lessons/{id}/update(id=${id})})}"></div>
                    <div th:insert="~{fragments/buttons :: delete-entity('lesson', @{/lessons/{id}/delete(id=${id})})}"></div>
                </div>
            </td>
        </th:block>
    </body>
</html>
