<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Access Denied</title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>
    <body>
        <div class="text-center my-4">
            <h2>Access Denied</h2>
            <p>Sorry, you do not have permission to access this page.</p>
            <p>Please contact the administrator if you believe this is a mistake.</p>
            <p><a th:href="@{/}">Go Back to Home</a></p>
        </div>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
