.button-container {
    display: flex;
}

.centered-form {
    max-width: 350px;
    margin: 0 auto;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top--5 {
    margin-top: -5px;
}

.margin-top--10 {
    margin-top: -10px;
}

.margin-top--25 {
    margin-top: -25px;
}

.margin-top--35 {
    margin-top: -35px;
}

.margin-top--70 {
    margin-top: -70px;
}

.nowrap {
    white-space: nowrap;
}

.red-text {
    color: red;
}
