<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="${appName}"></title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>
    <body>
        <div th:insert="~{fragments/navbars :: main}"></div>

        <div>
            <h2 class="text-center my-4" th:text="|Welcome to ${appName}|"></h2>
            <br><h5 class="my-1" th:text="|About the ${appName}|"></h5>
            <p th:text="|Welcome to our ${appName}. This CMS is an integrated platform designed to efficiently manage the academic, administrative, and scheduling needs of a university. It connects students, teachers, and administrative staff with essential resources and processes, ensuring smooth operations across various university departments.|"></p>
            <p th:text="|This ${appName} simplifies university management, offering an intuitive solution for scheduling, course management, and student-teacher interaction. By connecting entities such as University, Department, Auditorium, Lesson time, Course, Group, Student, Teacher, and Lesson, the system guarantees a well-coordinated and efficient learning environment.|"></p>
        </div>
        <footer>
            <p>&copy; 2024 University CMS. All rights reserved.</p>
        </footer>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
