<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>

    <body>
        <div class="container-fluid text-center">
            <div class="margin-top-15">
                <img th:src="@{/pictures/cms-logo.png}" width="200" height="200" alt="">
            </div>

            <div class="margin-top-15" th:if="${param.error}">
                <p class="text-danger">None-valid username or password</p>
            </div>
            <div class="margin-top-15" th:if="${param.logout}">
                <p class="text-success">You have been logged out</p>
            </div>

            <div class="margin-top-15">
                <form class="centered-form" th:action="@{/login}" th:method="post">
                    <div class="border border-secondary p-3 rounded">
                        <p>Access to University CMS application</p>
                        <div th:insert="~{fragments/input-data :: login-type('text', 'username', 'Username')}"></div>
                        <div th:insert="~{fragments/input-data :: login-type('password', 'password', 'Password')}"></div>
                        <div th:insert="~{fragments/buttons :: login}"></div>
                    </div>
                </form>
            </div>
        </div>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
