<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New student</title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>

    <body>
        <div th:insert="~{fragments/navbars :: main}"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto rounded border p-4 m-4">
                    <h3 class="text-center mb-5">New student</h3>
                    <form class="margin-top--25" method="post" th:action="@{/students/create}" th:object="${createStudentRequest}">
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select user to create', 'User', 'username', user, ${users})}"></div>
                        <div th:insert="~{fragments/input-data :: simple-type('First name', 'firstName', 'Enter first name')}"></div>
                        <div th:insert="~{fragments/input-data :: simple-type('Last name', 'lastName', 'Enter last name')}"></div>
                        <div class="row">
                            <th:block th:insert="~{fragments/buttons :: submit}"></th:block>
                            <th:block th:insert="~{fragments/buttons :: cancel(@{/students})}"></th:block>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
