<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit student</title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>

    <body>
        <div th:insert="~{fragments/navbars :: main}"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto rounded border p-4 m-4">
                    <h3 class="text-center mb-5">Edit student</h3>
                    <form class="margin-top--25" method="post" th:action="@{/students/{id}/update(id=${student.id})}" th:object="${updateStudentRequest}">
                        <div th:insert="~{fragments/readonly-data :: simple-type('ID', ${student.id})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select user to update', 'User', 'username', ${student.user}, ${users})}"></div>
                        <div th:insert="~{fragments/readonly-data :: entity-type('Group', ${student.group})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select group to update', 'Group to add/update', 'groupNameToUpdate', group, ${groupsToUpdate})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select group to remove', 'Group to remove', 'groupNameToRemove', group, ${groupToRemove})}"></div>
                        <div th:insert="~{fragments/readonly-data :: simple-type('First name', ${student.firstName})}"></div>
                        <div th:insert="~{fragments/input-data :: simple-type('Last name', 'lastName', 'Enter new last name')}"></div>
                        <div th:insert="~{fragments/readonly-data :: collection-type('Courses', course, ${student.courses})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select course to add', 'Course to add', 'courseNameToAdd', course, ${coursesToAdd})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select course to remove', 'Course to remove', 'courseNameToRemove', course, ${coursesToRemove})}"></div>
                        <div class="row">
                            <th:block th:insert="~{fragments/buttons :: submit}"></th:block>
                            <th:block th:insert="~{fragments/buttons :: cancel(@{/students})}"></th:block>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
