<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit user</title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>

    <body>
        <div th:insert="~{fragments/navbars :: main}"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto rounded border p-4 m-4">
                    <h3 class="text-center mb-5">Edit user</h3>
                    <form class="margin-top--25" method="post" th:action="@{/users/{id}/update(id=${user.id})}" th:object="${updateUserRequest}">
                        <div th:insert="~{fragments/readonly-data :: simple-type('ID', ${user.id})}"></div>
                        <div th:insert="~{fragments/input-data :: simple-type('Username', 'username', 'Enter new username')}"></div>
                        <div th:insert="~{fragments/input-data :: simple-type('Password', 'password', 'Enter new password')}"></div>
                        <div th:insert="~{fragments/input-data :: boolean-select-type('Enabled status', 'enabledStatus', ${user.enabledStatus})}"></div>
                        <div th:insert="~{fragments/readonly-data :: simple-type('Free status', ${user.freeStatus})}"></div>
                        <div th:insert="~{fragments/readonly-data :: collection-type('Roles', role, ${user.roles})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select role to add', 'Role to add', 'roleNameToAdd', role, ${rolesToAdd})}"></div>
                        <div th:insert="~{fragments/input-data :: entity-select-type('Select role to remove', 'Role to remove', 'roleNameToRemove', role, ${rolesToRemove})}"></div>
                        <div class="row">
                            <th:block th:insert="~{fragments/buttons :: submit}"></th:block>
                            <th:block th:insert="~{fragments/buttons :: cancel(@{/users})}"></th:block>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
