<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Role</title>

        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>

    <body>
        <div th:insert="~{fragments/navbars :: main}"></div>

        <div class="container">
            <h3 class="text-center margin-top-15">Role</h3>
            <div th:insert="~{fragments/buttons :: create-entity('role', @{/roles/create})}"></div>
            <table class="table margin-top--10">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th:block th:insert="~{fragments/table-data :: role(${role.id}, ${role.name})}"></th:block>
                    </tr>
                </tbody>
            </table>
        </div>

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
